//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads = ""
params.outdir = "broad_results"


//PreProcessing
params.name_split_on=""

//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
params.savetrimmedreads=false

//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
