//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on="_"

//Mash
params.mash_db= "/db/RefSeqSketchesDefaults.msh"

//SeqyClean
params.min_read_length = "25"
params.contaminants = "/Adapters_plus_PhiX_174.fasta"
params.quality_trimming = "-qual"

//CG Pipeline
params.subsample = "--fast"

//Emmtyper
//Use default database within docker image
params.emmtyper_db = "/db"

//serotypefinder
//Use default database within docker image
params.serotypefinder_db = "/serotypefinder/database"
params.serotypefinder_agreement = "95.00"
params.serotypefinder_coverage = "0.60"


//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
