//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on=""

//Mash
params.mash_db= "/db/RefSeqSketchesDefaults.msh"

//Trimming
params.minlength=100
params.windowsize=10
params.qualitytrimscore=20
threads=4

//CG Pipeline
params.subsample = "--fast"

//Emmtyper
//Use default database within docker image
params.emmtyper_db = "/db"

//serotypefinder
//Use default database within docker image
params.serotypefinder_db = "/serotypefinder/database"
params.serotypefinder_agreement = "95.00"
params.serotypefinder_coverage = "0.60"


//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
