bwa_container = 'staphb/bwa:0.7.17'
seqyclean_container = 'staphb/seqyclean:1.10.09'
fastqc_container = 'staphb/fastqc:0.11.8'
samtools_container = 'staphb/samtools:1.11'
mafft_container = 'staphb/mafft:7.475'
snpdists_container = 'staphb/snp-dists:0.6.2'
ivar_container = 'staphb/ivar:1.2.2_artic20200528'
bcftools_container = 'staphb/bcftools:1.11'
kraken2_container = 'staphb/kraken2:2.1.1-no-db'
bedtools_container = 'staphb/bedtools:2.29.2'
pangolin_container = 'staphb/pangolin:2.0.5'
lightweight_container = 'staphb/parallel-perl:20200722'
iqtree_container = 'staphb/iqtree:1.6.7'
