docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-2'
workDir = 's3://krf-nextflow-testing/test_env/'
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-nextflow'
  cpus = 2
  memory = '2 GB'

  withName:preProcess{
    container = fastqc_container
  }
  withName:trim{
    cpus = 4
    memory = '8 GB'
    container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:quast{
    container = quast_container
  }
  withName:prokka{
    cpus = 8
    memory = '15 GB'
    container = prokka_container
  }
  withName:roary{
    cpus = 8
    memory = '15 GB'
    container = roary_container
  }
  withName:cg_tree{
    cpus = 8
    memory = '15 GB'
    container = iqtree_container
  }
  withName:snp_tree{
    cpus = 8
    memory = '15 GB'
    container = iqtree_container
  }
  withName:cfsan{
    cpus = 8
    memory = '15 GB'
    container = cfsan_container
  }
  withName:amrfinder{
    cpus = 8
    memory = '15 GB'
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = amrfinder_summary_container
  }
  withName:mash{
    cpus = 8
    memory = '15 GB'
    container = mash_container
  }
  withName:mlst{
    cpus = 8
    memory = '15 GB'
    container = mlst_container
  }
}
