trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.1.0'
multiqc_container = 'staphb/multiqc:1.8'
quast_container = 'staphb/quast:5.0.2'
prokka_container = 'staphb/prokka:1.14.5'
roary_container = 'staphb/roary:3.12.0'
iqtree_container = 'staphb/iqtree:1.6.7'
cfsan_container = 'staphb/cfsan-snp-pipeline:2.0.2'
amrfinder_container = 'staphb/ncbi-amrfinderplus:3.1.1b'
amrfinder_summary_container = 'wslhbio/amrfinder-parser:1.0'
mash_container = 'staphb/mash:2.1'
mlst_container = 'staphb/mlst:2.17.6-cv1'
render_container = 'staphb/cluster-report-env:1.1'
