docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

includeConfig 'docker_containers.config'

process {
  cpus = 2
  memory = '4 GB'

  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:quast{
    container = quast_container
  }
  withName:prokka{
    container = prokka_container
  }
  withName:roary{
    container = roary_container
  }
  withName:cg_tree{
    container = iqtree_container
  }
  withName:snp_tree{
    container = iqtree_container
  }
  withName:cfsan{
    container = cfsan_container
  }
  withName:amrfinder{
    container = amrfinder_container
  }
  withName:amrfinder_summary{
    container = amrfinder_summary_container
  }
  withName:mash{
    container = mash_container
  }
  withName:mlst{
    container = mlst_container
  }
  withName:render{
    container = render_container
  }
  withName:renderWithAR{
    container = render_container
  }
}
