docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-1'
workDir = 's3:/dcls-bioinformatics/nextflow_scratch'
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-batch-nextflow'

  withName:preProcess{
    cpus = 2
    memory = '2 GB'
    container = fastqc_container
  }
  withName:trim{
    cpus = 4
    memory = '8 GB'
    container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:mash_sketch{
    cpus = 4
    memory = '8 GB'
    container = mash_container
  }
  withName:mash_dist{
    cpus = 4
    memory = '8 GB'
    container = mash_container
  }
  withName:mash_species{
    cpus = 2
    memory = '2 GB'
    container = tiptoft_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    cpus = 2
    memory = '2 GB'
    container = quast_container
  }
  withName:cg_pipeline{
    cpus = 4
    memory = '8 GB'
    container = lyveset_container
  }
  withName:emmtype_finder{
    cpus = 4
    memory = '8 GB'
    container = emmtype_finder_container
  }
  withName:serotypefinder{
    cpus = 4
    memory = '8 GB'
    container = serotypefinder_container
  }
  withName:seqsero{
    cpus = 4
    memory = '8 GB'
    container = seqsero_container
  }
  withName:results{
    cpus = 2
    memory = '2 GB'
    container = tiptoft_container
  }
}
