trimmomatic_container = 'staphb/trimmomatic:0.39'
mash_container = 'staphb/mash:2.1'
seroba_container = 'staphb/seroba:1.0.2'
shovill_container = 'staphb/shovill:1.0.4'
quast_container = 'staphb/quast:5.0.2'
tiptoft_container = 'staphb/tiptoft:1.0.0'
emmtype_finder_container = 'staphb/emm-typing-tool:0.0.1'
seqsero_container = 'staphb/seqsero:1.0.1'
serotypefinder_container = 'staphb/serotypefinder:1.1'
trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
lyveset_container = 'staphb/lyveset:1.1.4f'
