//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""

//####################
//##AWS Batch Params##
//####################
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'
//cleanup=true

//#######################
//##Google Cloud Params##
//#######################
//google.project = ''
//google.location = ''
//google.region = ''
//process.executor = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//#########################
//####Docker Containers####
//#########################

//#####################
//###Pipeline Params###
//#####################

//#### Add Pipeline Params Here ####


process {
  //stageInMode = "link" //uncomment for singularity

  //executor = 'awsbatch' //uncomment for AWS Batch
  //queue = '' //uncomment for AWS Batch

  cpus = 2
  memory = '2 GB'

  //#### Add Pipeline Processes Here ####

}
