docker.enabled = true
aws.batch.cliPath = ''
aws.region = ''
workDir = 's3://'
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-batch-nextflow'

  withName:preProcess{
    cpus = 2
    memory = '2 GB'
    container = fastqc_container
  }
  withName:seqyclean{
    cpus = 8
    memory = '16 GB'
    container = seqyclean_container
  }
  withName:ivar{
    cpus = 4
    memory = '8 GB'
    container = ivar_container
  }
  withName:samtools{
    cpus = 2
    memory = '2 GB'
    container = samtools_container
  }
  withName:alignment_results{
    cpus = 2
    memory = '2 GB'
    container = tiptoft_container
  }
  withName:snp_matrix{
    cpus = 2
    memory = '2 GB'
    container = snp_dists_container
  }
  withName:msa{
    cpus = 8
    memory = '64 GB'
    container = mafft_container
  }
  withName:vcf{
    cpus = 2
    memory = '2 GB'
    container = snp_sites_container
  }
  withName:snp_frequency{
    cpus = 4
    memory = '2 GB'
    container = tiptoft_container
  }
  withName:iqtree{
    cpus = 31
    memory = '15 GB'
    container = iqtree_container
  }
}
