docker.enabled = true

includeConfig 'docker_containers.config'

process {
  cpus = 2
  memory = '4 GB'
  
  withName:preProcess{
    container = fastqc_container
  }
  withName:mash_dist{
    container = mash_container
  }
  withName:mash_species{
    container = tiptoft_container
  }
  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:shovill{
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:emmtype_finder{
    container = emmtype_finder_container
  }
  withName:assembly_results{
    container = lyveset_container
  }
  withName:ksnp3{
    container = ksnp3_container
  }
  withName:snp_dists{
    container = snp_dists_container
  }
  withName:render{
    container = render_container
  }
}
