trimmomatic_container = 'staphb/trimmomatic:0.39'
mash_container = 'staphb/mash:2.1'
seroba_container = 'staphb/seroba:1.0.2'
trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
shovill_container = 'staphb/shovill:1.0.4'
quast_container = 'staphb/quast:5.0.2'
lyveset_container = 'staphb/lyveset:1.1.4f'
emmtype_finder_container = 'staphb/emm-typing-tool:0.0.1'
seqsero_container = 'staphb/seqsero:1.0.1'
serotypefinder_container = 'staphb/serotypefinder:1.1'
ksnp3_container = 'staphb/ksnp3:3.1'
snp_dists_container = 'staphb/snp-dists:0.6.2'
tiptoft_container = 'staphb/tiptoft:1.0.0'
render_container = 'staphb/cluster-report-env:1.0'
fastqc_container = 'staphb/fastqc:0.11.8'
