//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#########################
//####Docker Containers####
//#########################
trimmomatic_container = 'staphb/trimmomatic:0.39'
mash_container = 'staphb/mash:2.1'
seroba_container = 'staphb/seroba:1.0.2'
trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
shovill_container = 'staphb/shovill:1.0.4'
quast_container = 'staphb/quast:5.0.2'
lyveset_container = 'staphb/lyveset:1.1.4f'
emmtype_finder_container = 'staphb/emm-typing-tool:0.0.1'
seqsero_container = 'staphb/seqsero:1.0.1'
serotypefinder_container = 'staphb/serotypefinder:1.1'
ksnp3_container = 'staphb/ksnp3:3.1'
snp_dists_container = 'staphb/snp-dists:0.6.2'
fastqc_container = 'staphb/fastqc:0.11.8'
tiptoft_container = 'staphb/tiptoft:1.0.0'
render_container = 'staphb/cluster-report-env:1.0'

//#####################
//###Pipeline Params###
//#####################
//PreProcessing
params.name_split_on=""

//Mash
params.mash_db= "/db/RefSeqSketchesDefaults.msh"

//Trimming
params.minlength=100
params.windowsize=10
params.qualitytrimscore=20
threads=4

//Emmtyper
//Use default database within docker image
params.emmtyper_db = "/db"

//ksnp3
params.kmer_length = "19"
params.kmer_snps = "-core"


process {

  cpus = 2
  memory = '2 GB'

  withName:preProcess{
    cpus = 2
    memory = '2 GB'
    container = fastqc_container
  }
  withName:mash_dist{
    cpus = 4
    memory = '8 GB'
    container = mash_container
  }
  withName:mash_species{
    cpus = 2
    memory = '2 GB'
    container = tiptoft_container
  }
  withName:trim{
  cpus = 4
  memory = '8 GB'
  container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:shovill{
    cpus=8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    cpus = 2
    memory = '2 GB'
    container = quast_container
  }
  withName:emmtype_finder{
    cpus = 4
    memory = '8 GB'
    container = emmtype_finder_container
  }
  withName:assembly_results{
    cpus = 2
    memory = '2 GB'
    container = tiptoft_container
  }
  withName:ksnp3{
    cpus = 4
    memory = '8 GB'
    container = ksnp3_container
  }
  withName:snp_dists{
    cpus = 2
    memory = '2 GB'
    container = snp_dists_container
  }
  withName:render{
    cpus = 2
    memory = '2 GB'
    container = render_container
  }
}
