//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on="_"

//Mash
params.mash_db= "/db/RefSeqSketchesDefaults.msh"

//SeqyClean
params.min_read_length = "25"
params.contaminants = "/Adapters_plus_PhiX_174.fasta"
params.quality_trimming = "-qual"

//Emmtyper
//Use default database within docker image
params.emmtyper_db = "/db"

//ksnp3
params.kmer_length = "19"
params.kmer_snps = "-core"




//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
