//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on=""

//Mash
params.mash_db= "/db/RefSeqSketchesDefaults.msh"

//Trimming
params.minlength=100
params.windowsize=10
params.qualitytrimscore=20
threads=4

//Emmtyper
//Use default database within docker image
params.emmtyper_db = "/db"

//ksnp3
params.kmer_length = "19"
params.kmer_snps = "-core"




//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
