//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads = ""
params.outdir = "dryad_results"
params.cg = false
params.snp = false
params.snp_reference = ""
params.report = ""
params.ar = false

//PreProcessing
params.name_split_on=""

//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
params.savetrimmedreads=false

//Core-genome alignment
//default alignment method is PRANK
//setting params.roary_mafft to true switches from PRANK to MAFFT
params.roary_mafft = true

//Core-genome tree
params.cg_tree_model = "GTR+G"


//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
