singularity.enabled = true

includeConfig 'docker_containers.config'

process {
  stageInMode = "link"
  cpus = 2
  memory = '4 GB'

  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:centroid{
    container = centroid_container
  }
}
