//#########################
//###Pipeline Parameters###
//#########################

params.name_split_on=""

//#### PE Assembly ####

//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
threads=4

//iVar
params.ivar_mindepth=10
params.ivar_minfreq=0


//iqTree
params.iqtree_model="GTR+G4"
params.iqtree_boostraps=1000

//#### ONT Assembly ####

//Guppy Basecalling Prameters
params.basecalling = false
params.basecalling_mode = "high_accuracy" // basecalling mode "fast" or "high_accuracy"
params.basecalling_params = "-c /opt/ont/guppy/data/dna_r9.4.1_450bps_fast.cfg"
params.demultiplexing_params = "--arrangements_files 'barcode_arrs_nb12.cfg barcode_arrs_nb24.cfg barcode_arrs_nb96.cfg'"

//Guppy Specifc Parameters, note these are set to maximize a Tesla V100 GPU
// formula for parameters: runners * chunks_per_runner * chunk_size < 100000 * [max GPU memory in GB]
params.gpu_runners_per_device = 8
params.chunks_per_runner = 768
params.chunk_size = 500

//ARTIC Guppyplex Parameters
params.min_length = 400
params.max_length = 700

//ARTIC Nanopolish/Medaka Pipeline Parameters
params.polishing = "medaka" // polishing mode "nanopolish" or "medaka"
params.normalise = 200

//#######################
//###Pipeline Profiles###
//#######################
params.pipe = ""
profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
