//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on="_"

//SeqyClean
params.min_read_length = "25"
params.contaminants = "/Adapters_plus_PhiX_174.fasta"
params.quality_trimming = "-qual"



//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
