docker.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:seqyclean{
    container = seqyclean_container
  }
  withName:ivar{
    container = ivar_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:result{
    container = lyveset_container
  }
}
