docker.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:seqyclean{
    container = seqyclean_container
  }
  withName:ivar{
    container = ivar_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:alignment_result{
    container = lyveset_container
  }
  withName:snp_matrix{
    container = snp_dists_container
  }
  withName:snp_msa{
    container = mafft_container
  }
  withName:vcf{
    container = snp_sites_container
  }
  withName:iqtree{
    container = iqtree_container
  }
}
