docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-1'
workDir = 's3:/dcls-bioinformatics/nexflow_scratch'
cleanup=true

includeConfig 'docker_containers.config'

//Queue for GPU basecalling
gpu_queue = 'aws-nextflow-gpu'

process {
  executor = 'awsbatch'
  queue = 'aws-batch-nextflow'
  cpus = 2
  memory = '2 GB'

  if(params.pipe == "ont"){
    withName:guppy_basecalling{
      memory = '50 GB'
      cpus = 8
      queue = gpu_queue
      container = guppy_gpu_container
    }
    withName:guppy_demultiplexing{
      cpus = 8
      memory = '16 GB'
      container = guppy_cpu_container
      stageInMode = 'link'
    }
    withName:artic_guppyplex{
      cpus = 8
      memory = '16 GB'
      container = artic_container
      stageInMode = 'link'
    }
    withName:artic_nanopolish_pipeline{
      cpus = 8
      memory = '16 GB'
      container = artic_container
    }
    withName:artic_medaka_pipeline{
      cpus = 8
      memory = '16 GB'
      container = artic_medaka_container
    }
  }

  if(params.pipe == "pe"){
    withName:preProcess{
      container = fastqc_container
    }
    withName:trim{
      container = trimmomatic_container
    }
    withName:cleanreads{
      container = bbtools_container
    }
    withName:ivar{
      container = ivar_container
    }
    withName:samtools{
      container = samtools_container
    }
    withName:assembly_results{
      container = tiptoft_container
    }
  }

  if(params.pipe == "cluster"){
    withName:msa{
      cpus = 7
      memory = '32 GB'
      container = mafft_container
    }
    withName:snp_matrix{
      container = snp_dists_container
    }
    withName:iqtree{
      cpus = 8
      memory = '4 GB'
      container = iqtree_container
    }
    withName:render{
      container = render_container
    }
  }
}
