//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'
//process { withName:guppy_basecalling { queue = 'aws-nextflow-gpu'}} //Queue for GPU basecalling

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#########################
//####Docker Containers####
//#########################

artic_medaka_container = "staphb/artic-ncov2019-medaka"
pangolin_container = "staphb/pangolin:2.1.7"
samtools_container = 'staphb/samtools:1.10'

//#####################
//###Pipeline Params###
//#####################

//ARTIC Nanopolish/Medaka Pipeline Parameters
params.normalise = 200

process {

  cpus = 2
  memory = '2 GB'


  withName:artic_medaka_pipeline{
    cpus = 8
    memory = '16 GB'
    container = artic_medaka_container
  }
  withName:pangolin_typing{
    container = pangolin_container
  }
  withName:samtools{
    cpus = 2
    memory = '2 GB'
    container = samtools_container
  }
}
