//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""

//####################
//##AWS Batch Params##
//####################
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'
//cleanup=true

//#########################
//####Docker Containers####
//#########################

//#####################
//###Pipeline Params###
//#####################

process {
  //stageInMode = "link" //uncomment for singularity

  //executor = 'awsbatch' //uncomment for AWS Batch
  //queue = '' //uncomment for AWS Batch

  cpus = 2
  memory = '2 GB'

  withName:msa{
    cpus = 7
    memory = '32 GB'
    container = mafft_container
  }
  withName:snp_matrix{
    cpus = 2
    memory = '2 GB'
    container = snp_dists_container
  }
  withName:iqtree{
    cpus = 8
    memory = '4 GB'
    container = iqtree_container
  }
  withName:render{
    container = render_container
  }
}
