tiptoft_container = 'staphb/tiptoft:1.0.0'
ivar_container = 'staphb/ivar:1.2.1-SC2'
samtools_container = 'staphb/samtools:1.10'
snp_dists_container = 'staphb/snp-dists:0.6.2'
mafft_container = 'staphb/mafft:7.450'
iqtree_container = 'staphb/iqtree:1.6.7'
fastqc_container = 'staphb/fastqc:0.11.8'
render_container = 'staphb/cluster-report-env:1.0'
trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
guppy_gpu_container = "genomicpariscentre/guppy-gpu"
guppy_cpu_container = "genomicpariscentre/guppy"
artic_nanopolish_container = "staphb/artic-ncov2019-nanopolish:1.1.0"
artic_medaka_container = "staphb/artic-ncov2019-medaka:1.1.0"
pangolin_container = "staphb/pangolin:2.3.0-pangolearn-2021-02-18"
theiagen_artic_medaka_container = "theiagen/artic-ncov2019:1.1.3"
