docker.enabled = true

includeConfig 'docker_containers.config'

process {
  withName:ivar{
    container = ivar_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:alignment_results{
    container = tiptoft_container
  }
  withName:snp_matrix{
    container = snp_dists_container
  }
  withName:msa{
    container = mafft_container
  }
  withName:vcf{
    container = snp_sites_container
  }
  withName:iqtree{
    container = iqtree_container
  }
  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
}
