//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'
//process { withName:guppy_basecalling { queue = 'aws-nextflow-gpu'}} //Queue for GPU basecalling

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#########################
//####Docker Containers####
//#########################

guppy_gpu_container = "genomicpariscentre/guppy-gpu"
guppy_cpu_container = "genomicpariscentre/guppy"
artic_nanopolish_container = "staphb/artic-ncov2019-nanopolish"
artic_medaka_container = "staphb/artic-ncov2019-medaka"

//#####################
//###Pipeline Params###
//#####################

//Guppy Basecalling Prameters
params.basecalling = false
params.basecalling_mode = "high_accuracy" // basecalling mode "fast" or "high_accuracy"

//Guppy Specifc Parameters, note these are set to maximize a Tesla V100 GPU
// formula for parameters: runners * chunks_per_runner * chunk_size < 100000 * [max GPU memory in GB]
params.gpu_runners_per_device = 8
params.chunks_per_runner = 768
params.chunk_size = 500

//ARTIC Guppyplex Parameters
params.min_length = 400
params.max_length = 700

//ARTIC Nanopolish/Medaka Pipeline Parameters
params.polishing = "medaka" // polishing mode "nanopolish" or "medaka"
params.normalise = 200

process {

  cpus = 2
  memory = '2 GB'

  withName:guppy_basecalling{
    memory = '50 GB'
    cpus = 8
    container = guppy_gpu_container
  }
  withName:guppy_demultiplexing{
    cpus = 8
    memory = '16 GB'
    container = guppy_cpu_container
    stageInMode = 'link'
  }
  withName:artic_guppyplex{
    cpus = 8
    memory = '16 GB'
    container = artic_nanopolish_container
    stageInMode = 'link'
  }
  withName:artic_nanopolish_pipeline{
    cpus = 8
    memory = '16 GB'
    container = artic_nanopolish_container
  }
  withName:artic_medaka_pipeline{
    cpus = 8
    memory = '16 GB'
    container = artic_medaka_container
  }
}
