//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on=""
//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
threads=4

//Core-genome tree
params.cg_tree_model = "GTR+G"

//Core-genome alignment
//default alignment method is PRANK
//setting params.roary_mafft to true switches from PRANK to MAFFT
params.roary_mafft = true


//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
}
