docker.enabled = true

includeConfig 'docker_containers.config'

process {
  cpus = 2
  memory = '4 GB'
  
  withName:preProcess{
    container = fastqc_container
  }
  withName:spades{
    container = spades_container
  }
  withName:quast{
    container = quast_container
  }
  withName:fastani{
    container = fastani_container
  }
  withName:cfsan_snp{
    container = cfsan_container
  }
  withName:cg_pipeline{
    container = lyveset_container
  }
  withName:render{
    container = cutshaw_report_env_container
  }
}
