seroba_container = 'staphb/seroba:1.0.2'
spades_container = 'staphb/spades:3.12.0'
quast_container = 'staphb/quast:5.0.2'
lyveset_container = 'staphb/lyveset:1.1.4f'
tiptoft_container = 'staphb/tiptoft:1.0.0'
render_container = 'staphb/cluster-report-env:1.0'
fastqc_container = 'staphb/fastqc:0.11.8'
fastani_container = 'staphb/fastani:1.1'
cfsan_container = 'staphb/cfsan-snp-pipeline:2.0.2'
cutshaw_report_env_container = 'staphb/cutshaw-report-env'
