bwa_container = 'staphb/bwa:latest'
seqyclean_container = 'staphb/seqyclean:latest'
fastp_container = 'bromberglab/fastp:latest'
fastqc_container = 'staphb/fastqc:latest'
samtools_container = 'staphb/samtools:latest'
mafft_container = 'staphb/mafft:latest'
snpdists_container = 'staphb/snp-dists:latest'
minimap2_container = 'staphb/minimap2:latest'
bamsnap_container = 'danielmsk/bamsnap:latest'
ivar_container = 'staphb/ivar:latest'
bcftools_container = 'staphb/bcftools:latest'
kraken2_container = 'staphb/kraken2:latest'
bedtools_container = 'staphb/bedtools:latest'
pangolin_container = 'staphb/pangolin:latest'
nextclade_container = 'neherlab/nextclade:latest'
lightweight_container = 'staphb/parallel-perl:latest'
iqtree_container = 'staphb/iqtree:latest'
