docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

includeConfig 'docker_containers.config'

process {
  withName:seqyclean{
    container = seqyclean_container
    stageInMode = 'copy'
  }
  withName:fastp{
    container = fastp_container
    stageInMode = 'copy'
  }
  withName:fastqc{
    container = fastqc_container
    stageInMode = 'copy'
  }
  withName:bwa{
    container = bwa_container
  }
  withName:minimap2{
    container = minimap2_container
  }
  withName:sort{
    container = samtools_container
  }
  withName:ivar_trim{
    container = ivar_container
  }
  withName:samtools_trim{
    container = samtools_container
  }
  withName:ivar_variants{
    container = ivar_container
  }
  withName:ivar_consensus{
    container = ivar_container
  }
  withName:bamsnap{
    container = bamsnap_container
  }
  withName:bcftools_variants{
    container = bcftools_container
  }
  withName:samtools_stats{
    container = samtools_container
  }
  withName:samtools_coverage{
    container = samtools_container
  }
  withName:samtools_flagstat{
    container = samtools_container
  }
  withName:kraken2{
    container = kraken2_container
  }
  withName:bedtools{
    container = bedtools_container
  }
  withName:samtools_ampliconstats{
    container = samtools_container
  }
  withName:pangolin{
    container = pangolin_container
  }
  withName:nextclade{
    container = nextclade_container
  }
  withName:summary{
    container = lightweight_container
  }
  withName:combined_summary{
    container = lightweight_container
  }
  withName:mafft{
    container = mafft_container
  }
  withName:snpdists{
    container = snpdists_container
  }
  withName:iqtree{
    container = iqtree_container
  }
  withName:rename{
    container = lightweight_container
  }
  withName:combine_fastas{
  container = lightweight_container
  }
}
