//#########################
//###Pipeline Parameters###
//#########################
//PreProcessing
params.name_split_on=""

//CG Pipeline
params.subsample = "--fast"


//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
