docker.enabled = true
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.region = 'us-east-1'
workDir = 's3://'
cleanup=true

includeConfig 'docker_containers.config'

process {
  executor = 'awsbatch'
  queue = 'aws-batch-nextflow'

  withName:preProcess{
    container = fastqc_container
  }
  withName:trim{
    cpus = 4
    memory = '8 GB'
    container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:centroid{
    container = centroid_container
  }
