//#####################
//####Docker Params####
//#####################
//docker.enabled = true
//docker.runOptions = ""

//####################
//#Singularity Params#
//####################
//singularity.enabled = true
//singularity.runOptions = ""
//process.stageInMode = "link"

//####################
//##AWS Batch Params##
//####################
//process.executor = 'awsbatch'
//process.queue = ''
//aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
//aws.region = 'us-east-1'
//workDir = 's3://'

//#######################
//##Google Cloud Params##
//#######################
//process.executor = ''
//google.project = ''
//google.location = ''
//google.region = ''
//workDir = ''
//google.lifeSciences.bootDiskSize = 50.GB

//#########################
//####Docker Containers####
//#########################

trimmomatic_container = 'staphb/trimmomatic:0.39'
bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.0.4'
quast_container = 'staphb/quast:5.0.2'
centroid_container = 'staphb/centroid:1.0.0'

//#####################
//###Pipeline Params###
//#####################

//PreProcessing
params.name_split_on=""

//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
params.savetrimmedreads=false

process {

  cpus = 2
  memory = '2 GB'

  withName:preProcess{
    container = fastqc_container
  }
  withName:trim{
    cpus = 4
    memory = '8 GB'
    container = trimmomatic_container
  }
  withName:cleanreads{
    cpus = 4
    memory = '8 GB'
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '15 GB'
    container = shovill_container
  }
  withName:quast{
    container = quast_container
  }
  withName:centroid{
    cpus = 8
    memory = '15 GB'
    container = centroid_container
  }
