trimmomatic_container = 'staphb/trimmomatic:0.39'
mash_container = 'staphb/mash:2.1'
seroba_container = 'staphb/seroba:1.0.2'
seqyclean_container = 'staphb/seqyclean:1.10.09'
shovill_container = 'staphb/shovill:1.0.4'
quast_container = 'staphb/quast:5.0.2'
lyveset_container = 'staphb/lyveset:1.1.4f'
emmtype_finder_container = 'staphb/emm-typing-tool:0.0.1'
seqsero_container = 'staphb/seqsero:1.0.1'
serotypefinder_container = 'staphb/serotypefinder:1.1'
